# Compiled Python
*.pyc

# JetBrains IDEs
.idea

# weights
*Experiments*
*.hdf5

/Datasets
/Summaries
/Experiments
/paper/cvpr2018/*

!/paper/cvpr2018/cvpr2018_draft.tex
!/paper/cvpr2018/egbib.bib
!/paper/cvpr2018/ieee.bst
!/paper/cvpr2018/cvpr.sty

000115.png
000115-GTLable.png
taskForWzn
testforwzn.py


